<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ticket New - Show Booking</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <h1>Book Show</h1>
    {% if not current_user.has_role('admin') %}
    <div style="text-align:right;">
        <a href="/">Home</a>
        | 
        <a href="/search">Search</a> 
    </div>
    {% endif %}
    <div id="app">
        <logout-btn></logout-btn>
        <book-show></book-show>
    </div>
</body>
<script type="text/javascript" src="../../static/js/app.js">
</script>
</html>